.nav{
    background-color:#292929;
    padding: 20px;
    text-align: center;
    
    
}

.nav li{
    list-style-type: none;
    padding: 20px;
}

.nav a{
    color: white;
    text-decoration: none;
    font-size: 12px;
    transition: .6s;

}

.nav a:hover{
    color: #999;
    
}