.navbar{
    background-color: #111111;
    padding: 13px 10px;
    width: 100vw;
    color: white;
    position: fixed;
}

.navbar ul{
    display: inline-block;
}

.navbar li{
    display: inline-block;
    list-style-type: none;
    padding: 10px;
}

.navbar a{
    
    color: white;
    margin-right: 1em;
    text-decoration: none;
    transition: .3s;
}

.navbar a:hover{
    color: #999;
}

